<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}} | JepretBusway</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="container">
    		{{content}}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://www.instagram.com/jepretbusway">instagram</a></li>
        		<li><a href="https://www.facebook.com/groups/464144743790643">facebook group</a></li>
			</ul>
		</footer>
	</body>
</html>
