<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}} | JepretBusway</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
		<div class="container">
    		{{content}}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://www.instagram.com/jepretbusway">instagram</a></li>
        		<li><a href="https://www.facebook.com/groups/464144743790643">facebook group</a></li>
			<p> created on 2020 by help of <li><a href="http://jmcglone.com/guides/github-pages/">Github Page</li> guide by Jonathan McGlone</p>
		</ul>
		</footer>
	</body>
</html>
